<template lang="pug">
  v-app
    v-content
      HelloWorld
</template>

<script>
import HelloWorld from "./components/HelloWorld";

export default {
  name: "App",
  components: {
    HelloWorld
  },
  data() {
    return {};
  }
};
</script>
